ul{
    
    text-align: start;
}

.flex li {
    display: flex;
    gap: 60px;
    text-align: justify;
    justify-content: space-around;
    text-align: start;
 

}

ul.flex li:not(:last-child) {
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
li{
    display: grid;
    align-items: center;
}