li{
    list-style: none;

}
.row{
    display: flex;
    flex-direction: row;
    gap: 250px;
    justify-content: center;
    color: #B5B7C0;
}
.customers{
    display: flex;
    justify-content: flex-start;
    padding: 50px;
}
.line{
    width: 968px;
    height: 2px;
    background-color: blue;
}
ul.row li:not(:last-child) {
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }